.bicycle-scene-wrapper.simple-mode {
    width: 100%;
    height: 400px;
    /* Reduced height for a cleaner look */
    position: relative;
    overflow: hidden;
    background: #F8FAFC;
    z-index: 5;
    margin-top: -20px;
}

.bicycle-canvas {
    width: 100%;
    height: 100%;
    cursor: default;
}

/* Base fade in */
.bicycle-canvas {
    animation: canvasFadeIn 1.5s ease-out;
}

@keyframes canvasFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

canvas {
    display: block;
    outline: none;
}